.menu__link {
  color: black;
  font-size: 35px;
  text-decoration: none;
}

.menu__link:hover {
  color: red;
}

.menu__link:active {
  color: green;
}

.menu__list:first-child {
  text-decoration: underline;
}

.menu__list:last-child {
  font-weight: bold;
}

.menu__list:nth-child(3) {
  background: orange;
}