@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700;800&display=swap');


* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
}

:root {
  --font-family: "Open Sans", sans-serif;
  --second-family: "Roboto", sans-serif;
}

body {
  background: #020A18;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p, a, button {
  color: #fff;
  font-family: var(--font-family);
  font-weight: 600;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1146px;
  margin: 0 auto;
  justify-self: center;
}

/*!!!*/

.menu {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 32px;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 39px;
  padding-bottom: 39px;
}

.menu a {
  font-size: 16px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.menu a:hover {
  opacity: 0.5;
}

.top-section {
  margin-top: 160px;
  margin-bottom: 197px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 128px;
}

.top-section-content {
  display: flex;
  flex-direction: column;

}

.top-section-content-slogan {
  font-size: 18px;
  line-height: 160%;
  text-transform: uppercase;
  color: #3a68b8;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.top-section-content-header {
  margin-top: 10px;
  margin-bottom: 40px;
  font-weight: 800;
  font-size: 55px;
  line-height: 130%;
}

.top-section-content-text {
  margin-bottom: 50px;
  font-size: 18px;
  line-height: 160%;
  opacity: 0.7;
}

.top-section-buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.top-section-button {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: nowrap;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  padding: 15px 30px;
  background: #3a68b8;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.top-section-button:hover {
  opacity: 0.5;
}

.top-section-button-caption {
  text-wrap: nowrap;
  font-size: 20px;
}

.partner-logos {
  margin-bottom: 99px;
  display: flex;
  gap: 72px;
  justify-content: center;
  flex-wrap: wrap;
}

.partner-logo {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.partner-logo:hover {
  opacity: 0.5;
}

.video-item {
  width: 100%;
}